{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
  <iframe title="AOC_Amarilo" width="1460" height="780.25"
    src="https://app.powerbi.com/view?r=eyJrIjoiMDVlMDIwNDctNmU0Mi00ZGM0LWFjZWMtMDMxMmE1YTk0Yzc3IiwidCI6IjU3N2ZjMWQ4LTA5MjItNDU4ZS04N2JmLWVjNGY0NTVlYjYwMCIsImMiOjR9&pageName=754fd396070a30a46c45"
    frameborder="0"
    style="width: 100vw; height: calc(100vh - 56px); border: none; display: block; margin: 10; padding: 0;"
    allowFullScreen="true">
  </iframe>
{% endblock %}
