
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Datos y Estadísticas - FCA UNAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename= 'images/logoFCA.ico') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'beauty.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='beauty.css') }}">

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </head>


   
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let timer;
    const tiempoMaxInactivo = 1 * 60 * 1000; // 15 minutos

    function reiniciarTemporizador() {
      clearTimeout(timer);
      timer = setTimeout(() => {
        Swal.fire({
          title: 'Sesión expirada por inactividad',
          text: 'Serás redirigido al inicio de sesión.',
          icon: 'warning',
          confirmButtonText: 'Aceptar',
          allowOutsideClick: false,
          allowEscapeKey: false,
          allowEnterKey: false,
          didClose: () => {
            window.location.href = "{{ url_for('main.logout') }}";  // Puedes usar main.index si no deseas cerrar sesión
          }
        });
      }, tiempoMaxInactivo);
    }

   // Eventos que reinician el temporizador
   window.onload = reiniciarTemporizador;
   document.onmousemove = reiniciarTemporizador;
   document.onkeypress = reiniciarTemporizador;
   document.onclick = reiniciarTemporizador;
   document.onscroll = reiniciarTemporizador;
  </script>

<script>
  if (performance.navigation.type === 2) {
    location.reload(true); // recarga desde el servidor (no desde caché)
  }
</script>


  

  <body>
    <nav class="navbar navbar-dark" style="background-color: #555555;">
      <a class="navbar-brand" href="{{ url_for('main.UI') }}"
        >Datos y Estadísticas - FCA UNAL</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav d-flex flex-row justify-content-between w-100" style="gap: 1rem;padding: 0 5rem;">
          <li class="nav-item">
            <a href="{{ url_for('main.secretaria') }}" class="btn btn-outline-secondary btn-hover-green text-white" style="--bs-btn-hover-bg: #28a745;">Datos Secretaría</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('main.curricular') }}" class="btn btn-outline-secondary btn-hover-green text-white">Datos Curricular</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('main.normatividad') }}" class="btn btn-outline-secondary btn-hover-green text-white">Normatividad</a>
          </li>
          <li class="nav-item">
           <a href="{{ url_for('main.logout') }}" class="btn btn-outline-danger"> Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>