{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    /* General body styling */
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    /* Container for images */
    .image-grid {
      display: grid;
      grid-template-columns: 1fr; /* 1 columna por defecto (móviles) */
      gap: 30px;
      padding: 20px;
      max-width: 1200px;
      margin: auto;
    }

    /* 2 columnas para pantallas de 768px o más (tabletas) */
    @media (min-width: 768px) {
      .image-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    /* 3 columnas para pantallas de 992px o más (escritorio) */
    @media (min-width: 992px) {
      .image-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .image-grid a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: space-between;
    }

    .image-grid img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }

    .image-grid img:hover {
      transform: scale(1.05);
    }

    /* Styling for the text below images */
    .image-grid h5 {
      margin-top: 12px;
      font-size: 1.65rem;
      font-weight: bold;
      color: #333;
      text-align: center;
      transition: color 0.3s ease;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="image-grid">
    <a href="{{ url_for('main.cofinanciacion_cier') }}">
      <img src="{{ url_for('static', filename='images/cofinanciacion.png') }}" alt="Cofinanciacion_CIER">
    <h5>  Cofinanciación </h5> </a>
    <a href="{{ url_for('main.Proy_Investi_exten') }}">
      <img src="{{ url_for('static', filename='images/Proy_Investi_exten.png') }}" alt="Proy_Investi_exten">
    <h5>  Proyectos investigación extensión </h5> </a>
    <a href="{{ url_for('main.Movi_convo_int_CIER') }}">
      <img src="{{ url_for('static', filename='images/Movi_convo_int_CIER.png') }}" alt="Movi_convo_int_CIER">
    <h5>  Movilidades convocatoria interna </h5> </a>
  </div>
{% endblock %}