{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
  <iframe title="AOC_Amarilo" 
    src="https://app.powerbi.com/view?r=eyJrIjoiNjExNjNiNzUtNDBhMi00MWE1LThhOWMtZjczY2RiMzU0MTFlIiwidCI6IjU3N2ZjMWQ4LTA5MjItNDU4ZS04N2JmLWVjNGY0NTVlYjYwMCIsImMiOjR9"
    frameborder="0" allowFullScreen="true"
    style="width: 100vw; height: calc(100vh - 56px); border: none; display: block; margin: 10; padding: 0;">
  </iframe>
{% endblock %}
