{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
  <iframe title="AOC_Amarilo" 
    src="https://app.powerbi.com/groups/me/reports/147d34a9-97fd-4032-8295-1861c09fd6a6?ctid=577fc1d8-0922-458e-87bf-ec4f455eb600&pbi_source=linkShare"
    frameborder="0" allowFullScreen="true"
    style="width: 100vw; height: calc(100vh - 56px); border: none; display: block; margin: 10; padding: 0;">
  </iframe>
{% endblock %}
