{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    /* General body styling */
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    /* Container for images */
    .image-grid {
      display: grid;
      grid-template-columns: repeat(2,   1fr);
      gap: 30px;
      padding: 30px;
      max-width: 1000px;
      margin: auto;
    }
    .image-grid div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
      .image-grid div h5 {
      margin-top: 10px;
      font-size: 30px;
      color: #000000;
      font-weight: bold;
    }


    .image-grid a {
      display: block;
      text-decoration: none;
    }

    .image-grid img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }

    .image-grid img:hover {
      transform: scale(1.05);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="image-grid">
  <div>
    <a href="{{ url_for('main.admi_pos') }}"><img src="{{ url_for('static', filename='images/image2.png') }}" alt="Image 2"></a>
    <h5>Admitidos Posgrados</h5>
  </div>
  <div>
    <a href="{{ url_for('main.matri_pos') }}"><img src="{{ url_for('static', filename='images/image4.png') }}" alt="Image 4"></a>
    <h5>Matriculados Posgrados</h5>
  </div> 
  <div>
    <a href="{{ url_for('main.movi_sal_est') }}"><img src="{{ url_for('static', filename='images/image8.png') }}" alt="Image 8"></a>
  <h5>Movilidad Saliente Estudiantes</h5>
  </div>
  <div>
    <a href="{{ url_for('main.movi_ent_est') }}"><img src="{{ url_for('static', filename='images/image7.png') }}" alt="Image 7"></a>
    <h5>Movilidad Entrante Estudiantes</h5>
  </div> 
  <div>
    <a href="{{ url_for('main.movi_sal_doc') }}"><img src="{{ url_for('static', filename='images/image6.png') }}" alt="Image 6"></a>
    <h5>Movilidad Saliente Docentes</h5>
  </div> 
  <div>
    <a href="{{ url_for('main.movi_ent_doc') }}"><img src="{{ url_for('static', filename='images/image5.png') }}" alt="Image 5"></a>
    <h5>Movilidad Entrante Docentes</h5>
  </div> 
  <div>
    <a href="{{ url_for('main.convenios') }}"><img src="{{ url_for('static', filename='images/image3.png') }}" alt="Image 3"></a>
    <h5>Convenios</h5>
  </div> 

  </div>
{% endblock %}
