{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    /* General body styling */
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    /* Container for images */
    .image-grid {
      display: grid;
      grid-template-columns: repeat(3, 50%);
      gap: 30px;
      padding: 40px;
      max-width: 800px;
      margin: auto;
    }

    .image-grid a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: space-between;
    }

    .image-grid img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }

    .image-grid img:hover {
      transform: scale(1.05);
    }

    /* Styling for the text below images */
    .image-grid h5 {
      margin-top: 12px;
      font-size: 1.65rem;
      font-weight: bold;
      color: #333;
      text-align: center;
      transition: color 0.3s ease;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="image-grid">
    <a href="{{ url_for('main.admi_pos') }}"><img src="{{ url_for('static', filename='images/image2.png') }}" alt="Image 2">
    <h5>  Admitidos Posgrado  </h5> </a>
    <a href="{{ url_for('main.matri_pos') }}"><img src="{{ url_for('static', filename='images/image4.png') }}" alt="Image 4">
    <h5>  Matriculados Posgrado  </h5> </a>
    <a href="{{ url_for('main.movi_sal_est') }}"><img src="{{ url_for('static', filename='images/image8.png') }}" alt="Image 8">
    <h5>  Movilidad Saliente Estudiantes  </h5> </a>
    <a href="{{ url_for('main.movi_ent_est') }}"><img src="{{ url_for('static', filename='images/image7.png') }}" alt="Image 7">
    <h5>  Movilidad Entrante Estudiantes  </h5> </a>
    <a href="{{ url_for('main.movi_sal_doc') }}" style="display: flex; flex-direction: column; align-items: center; margin-top: 55px;"><img src="{{ url_for('static', filename='images/image6.png') }}" alt="Image 6" style="margin-bottom: 70px; width: 80%; height: auto;">
    <h5>  Movilidad Saliente Docente  </h5> </a>
    <a href="{{ url_for('main.movi_ent_doc') }}"><img src="{{ url_for('static', filename='images/image5.png') }}" alt="Image 5">
    <h5>  Movilidad Entrante Docente  </h5> </a>
    <a href="{{ url_for('main.convenios') }}"><img src="{{ url_for('static', filename='images/image3.png') }}" alt="Image 3">
    <h5>  Convenios  </h5> </a>
  </div>
{% endblock %}
